body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgba(252, 252, 252, 0), rgb(253, 244, 226));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
}

.navigation {
  background-image: linear-gradient(to bottom right, #5374a5, #293952);
  font-family: 'Lexend Deca', sans-serif;
}

.navigation-brand {
  font-size: 25px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255 / 100%);
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-expand {
  flex-wrap: wrap;
}

.about-container {
  margin-top: 100px;
}

.about-card h2 {
  font-family: 'Lexend Deca', sans-serif;
}

.about-card {
  background-color: transparent;
  border: none;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 60px;
}

.about-card h2 {
  margin-bottom: 30px;
  font-family: 'Lexend Deca', sans-serif;
}

.profile-pic {
  height: 210px;
  width:305px;
  border-radius: 1000px;
  border: solid 4px #27364d;
  margin: auto
}

.card-body {
  flex: 1 1 auto;
  padding: 2rem 1rem;
  width: 50%;
  margin: auto;
}

.projects-container {
  justify-content: center;
  margin-bottom: 500px;
  height: 500px;
}

.projects-container h2 {
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
}

.projects-col{
  justify-content: center;
  margin-top: -200px;
}

.project-card {
  width: 100%;
  height: 100%;
  border: none;
}

.project-card:hover {
  transform: scale(1.07);
}

.pet-shop-card {
  background-image: url('../src/assets/images/pet-outlet-screenshot.png');
}

.congo-card {
  background-image: url('../src/assets/images/congo-screenshot.png');
}

.weatherview-card {
  background-image: url('../src/assets/images/weatherview-screenshot.png');
}

.codequiz-card {
  background-image: url('../src/assets/images/codequiz-screenshot.jpg');
}

.blogspot-card {
  background-image: url('../src/assets/images/blogspot-screenshot.jpg');
}

.jukebox-card {
  background-image: url('../src/assets/images/myjukebox-screenshot.png');
}


.contact-form {
  margin-top: 100px;
}

.contact-form h2 {
  text-align: center;
}

.submit-btn {
  background-image: linear-gradient(to bottom right, #5374a5, #293952);
}

.footer {
  margin-top: 100px;
  background-image: linear-gradient(to bottom right, #5374a5, #27364d);

}

@media (min-width: 1400px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100%;
}
}